
  .htext {
    color: white;
  }

  .header {
    background-color: #2D5F7C;
  }

  .word {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
  }

  .wordtype {
    color: #2D5F7C;
    font-size: 25px;
  }

  .pronunciation {
    font-style: italic;
    color: #2D5F7C;
  }

  .definition {
    font-weight: bold;
  }

  #sentance {
    list-style-type: lower-alpha;
  }

  .footnote {
    font-weight: bold;
    color: #2D5F7C;
  }

  .italics {
    font-style: italic;
  }

  .disclaimer{
    font-size: 12px;
  }

  .first-use {
    font-weight: bold;
  }

  .cite {
    font-weight: bold;
  }

  .footer {
    font-size: 13px;
    color: white;
    background-color: #2D5F7C;
  }